* {
  margin: 0px;
  padding: 0px;
  font-family: "Advent Pro", sans-serif; }

.wrapper {
  display: flex;
  flex-direction: column; }

body {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

.navbar-list, .navbar-list a, .navbar, .logo {
  display: flex;
  align-items: center; }

.navbar {
  display: flex;
  background: #008CF4;
  padding: 0 20px;
  flex-wrap: wrap;
  border-bottom: 1px solid #d6d7dd;
  font-size: 14px; }
  .navbar .navbar-list {
    height: 80px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end; }
    .navbar .navbar-list li {
      position: relative; }
    .navbar .navbar-list a {
      color: #e9e9e9;
      text-decoration: none;
      margin: 0 10px;
      padding: 0 10px;
      text-transform: uppercase; }
    .navbar .navbar-list a:hover {
      color: #ffffff; }
    .navbar .navbar-list i {
      font-size: 14px;
      color: inherit;
      padding-bottom: 1px; }
    .navbar .navbar-list ul {
      display: none;
      flex-direction: column;
      list-style-type: none; }
    .navbar .navbar-list ul li {
      list-style-type: none;
      justify-content: center;
      align-items: flex-end;
      align-content: flex-start;
      height: auto !important;
      opacity: 0.8;
      background: black;
      text-align: center; }
    .navbar .navbar-list ul li a:hover {
      background-color: #a4a4a4;
      height: 10px; }
    .navbar .navbar-list li:hover ul {
      display: block;
      height: auto !important;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%; }
  .navbar .logo {
    margin-right: 15px; }
  .navbar .logo h1 {
    font-family: "Alegreya", sans-serif;
    font-size: 35px; }

.footer {
  background: #fafafa;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  padding: 0 20px;
  border-top: 1px solid #e1e2e8;
  flex-shrink: 0; }
  .footer .logo h3 {
    font-family: "Alegreya", sans-serif; }
  .footer .footer-navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    font-weight: bolder; }
  .footer a {
    color: #d3d3d3;
    text-decoration: none;
    margin: 0 10px;
    padding: 0 10px;
    text-transform: uppercase; }
  .footer a:hover {
    color: #a4a4a4; }

.tablex {
  display: flex; }
  .tablex .tablex__item {
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    width: 100%;
    box-sizing: border-box; }
  .tablex[data-gutter="1"] .tablex__item {
    padding: 5px; }
  .tablex[data-gutter="2"] .tablex__item {
    padding: 10px; }
  .tablex[data-gutter="3"] .tablex__item {
    padding: 15px; }
  .tablex[data-gutter="4"] .tablex__item {
    padding: 20px; }
  .tablex[data-gutter="5"] .tablex__item {
    padding: 25px; }
  .tablex[data-gutter="6"] .tablex__item {
    padding: 30px; }
  .tablex[data-gutter="7"] .tablex__item {
    padding: 35px; }
  .tablex[data-gutter="8"] .tablex__item {
    padding: 40px; }
  .tablex[data-gutter="9"] .tablex__item {
    padding: 45px; }
  .tablex[data-gutter="10"] .tablex__item {
    padding: 50px; }
  .tablex.tablex--bordered.tablex--columns .tablex__item:not(.tablex__item--foot),
  .tablex.tablex--bordered.tablex--rows .tablex__item {
    border-bottom: solid 1px #121212; }
  .tablex.tablex--colored .tablex__item {
    background: #fefefe; }
    .tablex.tablex--colored .tablex__item.tablex__item--head {
      color: red; }
    .tablex.tablex--colored .tablex__item.tablex__item--foot {
      background: #ccc; }

@media only screen and (max-width: 641px) {
  .tablex {
    flex-direction: column;
    flex-wrap: nowrap; }
    .tablex .tablex__item.tablex__item--foot {
      margin-bottom: 1rem; }
    .tablex.tablex--bordered.tablex--rows .tablex__item.tablex__item--foot {
      border-bottom: none; } }

@media only screen and (min-width: 640px) {
  .tablex {
    flex-direction: row;
    flex-wrap: wrap; }
    .tablex.tablex--columns .tablex__item.tablex__item--head {
      order: -1; }
    .tablex.tablex--columns .tablex__item.tablex__item--foot {
      order: 1; }
    .tablex.tablex--bordered.tablex--rows {
      border-top: solid 1px #121212; }
    .tablex[data-columns="1"] .tablex__item {
      flex-basis: 100%;
      width: 100%; }
    .tablex[data-columns="2"] .tablex__item {
      flex-basis: 50%;
      width: 50%; }
    .tablex[data-columns="3"] .tablex__item {
      flex-basis: 33.33333%;
      width: 33.33333%; }
    .tablex[data-columns="4"] .tablex__item {
      flex-basis: 25%;
      width: 25%; }
    .tablex[data-columns="5"] .tablex__item {
      flex-basis: 20%;
      width: 20%; }
    .tablex[data-columns="6"] .tablex__item {
      flex-basis: 16.66667%;
      width: 16.66667%; }
    .tablex[data-columns="7"] .tablex__item {
      flex-basis: 14.28571%;
      width: 14.28571%; }
    .tablex[data-columns="8"] .tablex__item {
      flex-basis: 12.5%;
      width: 12.5%; }
    .tablex[data-columns="9"] .tablex__item {
      flex-basis: 11.11111%;
      width: 11.11111%; }
    .tablex[data-columns="10"] .tablex__item {
      flex-basis: 10%;
      width: 10%; } }
