<div class="row center-xs">
    <div class="col-xs-10">
        <div class="box">
            <button class="btn"> Create a new sitemap</button>
            <div class="table">
                <div class="tr header">
                    <div class="td" style="flex-grow: 1.8;">
                        Name
                    </div>
                    <div class="td">
                        Version
                    </div>
                    <div class="td">
                        Born
                    </div>
                    <div class="td">
                        Last Saved
                    </div>
                    <div class="td">
                        User
                    </div>
                    <div class="td" style="justify-content: flex-end;">
                        Archived sitemaps
                    </div>
                </div>
                <div class="tr">
                    <div class="td"
                         style="flex-grow: 1.8;">
                        <span>dasani water</span>
                    </div>
                    <div class="td">
                        <span>41</span>
                    </div>
                    <div class="td">
                        <span>30</span>
                    </div>
                    <div class="td">
                        <span>27</span>
                    </div>
                    <div class="td">
                        <span>Admin</span>
                    </div>
                    <div class="td" style="justify-content: flex-end;">
                        <span>edit sitemap</span>
                    </div>
                </div>
                <div class="tr">
                    <div class="td" style="flex-grow: 1.8;">
                        <span>coca cola</span>
                    </div>
                    <div class="td">
                        <span>9</span>
                    </div>
                    <div class="td">
                        <span>3</span>
                    </div>
                    <div class="td"
                    >
                        <span>1</span>
                    </div>
                    <div class="td">
                        <span>Admin</span>
                    </div>
                    <div class="td" style="justify-content: flex-end;">
                        <span>edit sitemap</span>
                    </div>
                </div>
                <div class="tr">
                    <div class="td" style="flex-grow: 1.8;">
                        <span>coke zero</span>
                    </div>
                    <div class="td">
                        <span>750</span>
                    </div>
                    <div class="td">
                        <span>535</span>
                    </div>
                    <div class="td">
                        <span>707</span>
                    </div>
                    <div class="td">
                        <span>Admin</span>
                    </div>
                    <div class="td" style="justify-content: flex-end;">
                        <span>view sitemap</span>
                    </div>
                </div>
                <div class="tr">
                    <div class="td" style="flex-grow: 1.8;">
                        <span>diet coke</span>
                    </div>
                    <div class="td">
                        <span>2</span>
                    </div>
                    <div class="td"><span>1</span>
                    </div>
                    <div class="td">
                        <span>0</span>
                    </div>
                    <div class="td">
                        <span>Admin</span>
                    </div>
                    <div class="td" style="justify-content: flex-end;">
                        <span>edit sitemap</span>
                    </div>
                </div>
                <div class="tr">
                    <div class="td" style="flex-grow: 1.8;">
                        <span>vanilla coke</span>
                    </div>
                    <div class="td">
                        <span>80</span>
                    </div>
                    <div class="td">
                        <span>27</span>
                    </div>
                    <div class="td">
                        <span>17</span>
                    </div>
                    <div class="td">
                        <span>Admin</span>
                    </div>
                    <div class="td" style="justify-content: flex-end;">
                        <span>edit sitemap</span>
                    </div>
                </div>
                <div class="tr">
                    <div class="td" style="flex-grow: 1.8;">
                        <span>vanilla coke zero</span>
                    </div>
                    <div class="td">
                        <span>295</span>
                    </div>
                    <div class="td">
                        <span>211</span>
                    </div>
                    <div class="td">
                        <span>369</span>
                    </div>
                    <div class="td">
                        <span>Admin</span>
                    </div>
                    <div class="td" style="justify-content: flex-end;">
                        <span>view sitemap</span>
                    </div>
                </div>
            </div>
            <button class="btn"> Create a new sitemap</button>

        </div>
    </div>
</div>