<div class="row center-xs">
    <div class="col-xs-6">
        <div class="box">
            <div class="tablex tablex--colored tablex--columns tablex--bordered" data-columns="5" data-gutter="5">
                <!-- Column 1 -->
                <div class="tablex__item tablex__item--head">Heading 1</div>
                <div class="tablex__item">Element 1.2</div>
                <div class="tablex__item">Element 1.3</div>
                <div class="tablex__item tablex__item--foot">Foot 1</div>

                <!-- Column 2 -->
                <div class="tablex__item tablex__item--head">Heading 2</div>
                <div class="tablex__item">Element 2.2</div>
                <div class="tablex__item">Element 2.3</div>
                <div class="tablex__item tablex__item--foot">Foot 2</div>

                <!-- Column 3 -->
                <div class="tablex__item tablex__item--head">Heading 2</div>
                <div class="tablex__item">Element 2.1</div>
                <div class="tablex__item">Element 2.3</div>
                <div class="tablex__item tablex__item--foot">Foot 2</div>

                <!-- Column 4 -->
                <div class="tablex__item tablex__item--head">Heading 2</div>
                <div class="tablex__item">Element 2.2</div>
                <div class="tablex__item">Element 2.3</div>
                <div class="tablex__item tablex__item--foot">Foot 2</div>

                <!-- Column 5 -->
                <div class="tablex__item tablex__item--head">Heading 3</div>
                <div class="tablex__item">Element 3.2</div>
                <div class="tablex__item">Element 3.3</div>
                <div class="tablex__item tablex__item--foot">Foot 3</div>
            </div>
        </div>
    </div>
</div>