<nav class="navbar">
    <div class="logo">
        <h1>Your logo</h1>
    </div>
    <ul class="navbar-list">
        <li>
            <a href="#">
                <i class="material-icons">home</i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <i class="material-icons">build</i>
                Account & settings
            </a>
            <ul>
                <li>
                    <a href="#"> 1</a>
                </li>
                <li>
                    <a href="#"> 2</a>
                </li>
                <li>
                    <a href="#"> 3</a>
                </li>
                <li>
                    <a href="#"> 1</a>
                </li>
                <li>
                    <a href="#"> 2</a>
                </li>
                <li>
                    <a href="#"> 3</a>
                </li>
            </ul>


        </li>
    </ul>
    <div>avatar</div>
</nav>